@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");



.serviceForm{
    display: flex;
    flex-direction: column;
    min-width: -webkit-fill-available;
}

div {
    display: block;
    padding: 15px 0 15px 0;
}

#submitRequest {
    display: flex;
	color: rgb(231, 227, 227);
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 18px;
	line-height: 1.5;
    background-color: rgb(91, 29, 235);
    max-width: fit-content;
    padding: 12px 5px 12px 5px;
}
